<template>
  <section id="about-section">
    <div id="about-banner">
      <div class="container">
        <h2 class="text pb-5">About Us</h2>
        <div class="row justify-content-center">
          <div class="col-md-5"></div>
        </div>
      </div>
    </div>
    <div class="goal">
      <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
          <div class="col-md-5 text-center">
            <h2 class="pb-3">Our Vision</h2>
            <div class="a-img pb-2">
              <img src="/assets/telescope.png" height="100px" alt="" />
            </div>
            <h3>Elevating lives</h3>
          </div>
          <div class="col-md-5 text-center">
            <h2 class="pb-3" id="line">Our Mission</h2>
            <div class="a-img pb-2">
              <img src="/assets/path.png" height="100px" alt="" />
            </div>
            <h3>Enhancing the Standards of Living.</h3>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div id="col4about">
      <div class="container text-center pt-5">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2>Our Core Values</h2>
            <div class="card-group">
              <div class="row justify-content-center">
                <div class="col-md-4 col-sm-12">
                  <div class="card" id="about-card">
                    <div class="top-img">
                      <img
                        src="/assets/innovation.png"
                        height="130px"
                        width="auto"
                        class
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Innovation</h3>
                      <p class="card-text">
                        We will ensure efficiency in all our initiatives.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card" id="about-card">
                    <div class="top-img">
                      <img
                        src="/assets/dignity.jpeg"
                        height="130px"
                        class
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Dignity</h3>
                      <p class="card-text">To dignify communities.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card" id="about-card">
                    <div class="top-img">
                      <img
                        src="/assets/art.png"
                        height="130px"
                        class
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Creativity</h3>
                      <p class="card-text">
                        To provide solutions that are self-sufficient.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="blog">
      <div class="container text-center text-white">
        <h2 class="text-dark pb-2">Who We Are</h2>
        <h2 class="text-dark about-us">
          We identify social projects to improve and provide innovative <br />
          solutions. We value creativity and diversity within Suraya and <br />
          among our partners.
        </h2>
      </div>
    </div>
  </section>
</template>
<script>
export default {};
</script>
