<template>
  <div>
    <div id="contact-banner">
    <div class="container ct text-center">
      <div class=" text-center">
        <h2 >CONTACT US</h2>
        
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 pb-5">
          <div class="map">
            <iframe
              width="100%"
              height="450"
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABbSZGCk35y4gfQ9sRPH0xy78KJ7g0NTQ&q=Suraya+Property+Group"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <img src="/assets/surayafoundation-logo.png" height="130px" alt="">
          </div>
          <div class="cs pt-5 pl-3">
            <h3 class="pb-2">CONTACT INFORMATION</h3>
            <div>
            <span class="fa fa-envelope pr-2"></span> <p><a href="#">info@surayafoundation.com</a></p>
          </div>
          <div>
            <span class="fa fa-map-marker pr-2"></span> <p>Spring Valley Business Park,<br> Nairobi</p>
          </div>
          <div>
            <span class="fa fa-phone pr-2"></span> <p>(+254) 712 219106, <br> (+254) 786 575947</p>
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
