<template>
  <div>
    <div id="banner">
      
        <div class="container">
        <div class="row">
          <div class="col-md-6 text-white" id="banner-text">
            <h2>SURAYA FOUNDATION</h2>
            <h4 class="pt-3">
              The Suraya foundation will be undertaking social pojects and initiatives to improve the quality of lives in communities.
            </h4>
            <router-link
              :to="{ name: 'project-details', params: { slug: 'building-washrooms'}}"
              class="btn bgn text-white pt-2 pb-2 px-4 mt-3"
            >Our Projects</router-link>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
      
    </div>
    <div id="mission">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 col-sm-12 text-center">
            <h2 class="px-5 pt-4" id="mission-text">Our Initiatives:</h2>
            <div class="pt-4">
              <div class="container">
                <div class="row">
                  
                  <div class="col-md-4 px-2" id="one">
                    <div>
                      <img src="/assets/sanitation.jpg" height="150px" alt />
                    </div>
                    <div>
                      <h3 class="card-title">Sanitation</h3>
                      <p
                        class="card-text"
                      >We build toilets to improve health, academic performance and clean safe water in schools.</p>
                      <router-link
                        class="text-warning"
                        :to="{name: 'project-details', params: { slug: 'building-washrooms' }}"
                      >Learn more</router-link>
                    </div>
                  </div>
                  <div class="col-md-4" id="two">
                    <div>
                      <img src="/assets/shelter.png" height="150px" alt />
                    </div>
                    <div>
                      <h3 class="card-title">Shelter</h3>
                      <p
                        class="card-text"
                      >We invest in providing better and affordable housing through the our foundation to all residents of &nbsp;Kenya.</p>
                      <router-link
                        class="text-warning"
                        :to="{name: 'project-details', params: { slug: 'building-washrooms' }}"
                      >Learn more</router-link>
                    </div>
                  </div>
                  <div class="col-md-4" id="three">
                    <div>
                      <img src="/assets/art.png" height="150px" alt />
                    </div>
                    <div>
                      <h3 class="card-title">Arts and Design</h3>
                      <p
                        class="card-text"
                      >We invest in art and design by nurturing talent as a means to provide more employment opportunities.</p>
                      <router-link
                        class="text-warning"
                        :to="{name: 'project-details', params: { slug: 'building-washrooms' }}"
                      >Learn more</router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="mission-bottom">
              <img src="/assets/100-percent-0314ec2956eba31581274f4886995eb2.svg" alt="100" />
              <p class="pt-2">
                We are 100% true to our promise to better living standards
                <br /> for our people.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="">
    <div id="mails">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 col-sm-12 text-center">
            <div class="card text-center" id="card">
              <div class="row">
                <div class="col-md-6 pr-0">
                  <!-- <iframe
                    src="https://www.youtube.com/embed/Yfx28-P0lAs"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>-->
                  <img src="/assets/projo.jpg" width="100%" height="100%" alt="project" />
                </div>
                <div class="col-md-6 pr-0 bg-white">
                  <div class="card-body">
                    <p id="large-card-text" class="card-text">
                      We have numerous
                      <span class="short">ongoing</span>
                      projects geared towards improving the living standards of
                      <br />
                      <span class="long">our people</span>
                    </p>
                    <router-link
                      id="card-btn"
                      class="btn px-3 mb-5"
                      :to="{name: 'project-details', params: { slug: 'building-washrooms' }}"
                    >SEE MORE OF OUR IMPACT</router-link>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="mt-3 text-center">
              <h5 id="btm-text">
                But we’re not done yet. We are going to keep on <br>making life better for all</h5>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div id="many-cards">
      <div class="container">
        <div class="text-center">
          <h2 class="text-center pt-4">Our Strategic Direction</h2>
          <h3>Deliver dignity and improve lifestyles for all</h3>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-11 text-center pt-3">
            <div class="card-deck">
              <div class="row">
                <div class="col-md-4 pt-3 col-sm-6">
                  <div id="colored4" class="card">
                    <img src="/assets/projo.jpg" width="100%" height="200px" alt="..." />
                    <div class="card-body">
                      <h5
                        class="card-title"
                      >Establishing community-driven social welfare support systems</h5>
                      <router-link
                        :to="{ name: 'projects' }"
                        class="btn justify-content-bottom p-btnn"
                      >Learn more</router-link>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pt-3 col-sm-6">
                  <div id="colored6" class="card">
                    <img src="/assets/mat.jpg" width="100%" height="200px" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Discovering, advancing and showcasing untappped talent</h5>
                      <router-link
                        :to="{ name: 'projects' }"
                        class="btn justify-content-bottom p-btnn"
                      >Learn more</router-link>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pt-3 col-sm-6">
                  <div id="colored5" class="card">
                    <img src="/assets/Toilet.jpg" width="100%" height="200px" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Providing sanitary solutions for learning institutions</h5>
                      <router-link
                        :to="{ name: 'projects' }"
                        class="btn justify-content-bottom p-btnn"
                      >Learn more</router-link>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {};
</script>
