<template>
  <div class="container" id="details">
    <div class="row" v-if="project">
      <div class="col-md-8 pt-5">
        <h2 class="p-title ">{{ project.title }}</h2>
        <hr />
        <div class="row justify-content-center">
          <div class="col-md-12">
            <img :src="project.image" width="100%" alt style="max-height: 450px" />
          </div>
          <div class="col-md-12">
            <div v-html="project.content"></div>
          </div>
          <br />
        </div>
        <div class="row"></div>
      </div>
      <div class="col-md-3">
        <div class="aside">
          <h3>Projects</h3>
          <hr>
          <template v-for="(pro, i) in all_projects">
            <p :key="`link-${i}`" class="mb-0">
              <router-link
              
              :to="{ name: 'project-details',  params: { slug: pro.slug }}"
            >{{ pro.title }}</router-link>
            </p>
            
          
          </template>

          <div class="aside_footer"></div>
        </div>
      </div>
    </div>
    <div v-else>
      <h1>404</h1>
      <p>Not Found</p>
    </div>
    <hr />
  </div>
</template>
<script>
import projects from "@/Projects.js";

export default {
  name: "project-details",

  mounted() {
    // console.log(this.project);
  },

  data() {
    return {
      all_projects: projects.projects
    };
  },

  computed: {
    slug() {
      return this.$route.params.slug;
    },

    project() {
      let result = projects.projects.filter(project => {
        return project.slug == this.slug;
      });

      if (result.length > 0) {
        return result[0];
      }

      return false;
    }
  }
};
</script>