<template>
  <div>
    <div class="projo">
      <div class="pro-banner text-center">
        <h2 class="pro-title">OUR PROJECTS</h2>
        <h4 class="text-white">
          Suraya foundation has done a couple of projects.
          <br />The following are the projects we have been working
          <br />on to ensure better livelihood for Kenyans
        </h4>
      </div>
      <div>
        <div class="container pb-5">
          <div class="row justify-content-center">
            <div class="col-md-11 text-center pt-5">
              <div class="card-deck">
                <div class="row">
                  <div class="col-md-4 pt-3 col-sm-6">
                    <div id="colored4" class="card">
                      <img src="/assets/projo.jpg" width="100%" height="200px" alt="..." />
                      <div class="card-body">
                        <h5
                          class="card-title"
                        >Establishing community-driven social welfare support systems</h5>
                        <router-link
                          :to="{ name: 'project-details', params: { slug : 'support-systems'} }"
                          class="btn justify-content-bottom p-btnn"
                        >Learn more</router-link>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-4 pt-3 col-sm-6">
                    <div id="colored6" class="card">
                      <img src="/assets/mat.jpg" width="100%" height="200px" alt="..." />
                      <div class="card-body">
                        <h5
                          class="card-title"
                        >Discovering, advancing and showcasing untappped talent</h5>
                        <router-link
                          :to="{ name: 'project-details', params: { slug : 'building-washrooms'} }"
                          class="btn justify-content-bottom p-btnn"
                        >Learn more</router-link>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 pt-3 col-sm-6">
                    <div id="colored5" class="card">
                      <img src="/assets/Toilet.jpg" width="100%" height="200px" alt="..." />
                      <div class="card-body">
                        <h5
                          class="card-title"
                        >Providing sanitary solutions for learning institutions</h5>
                        <router-link
                          :to="{ name: 'project-details', params: { slug : 'building-washrooms'} }"
                          class="btn justify-content-bottom p-btnn"
                        >Learn more</router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>