<template>
  <div class="container" id="details">
      
    <div class="row ">
      <div class="col-md-9 pt-5">
          <h2 class="p-title">some title</h2>
          <hr>
        <div class="row justify-content-center">
            <div class="col-md-12 ">
            <img src="/assets/Baba_Dogo_Catholic_Primary_41.jpg" width="100%" alt style="max-height: 450px" />
          </div>
          <div class="col-md-12">
            <p>Already they have built over 30 toilets in three schools, rehabilitated several classrooms, dug boreholes and paid school fees for several students.Yet, even before the setting up of the Foundation, the couple has been paying school fees for needy children for long now. Courtesy of their generosity, a number of needy students have already graduated from university and close to 20 others are in secondary schools, tertiary institutions and university. “We, as a company, were keen on positively impacting on the lives of not only just our relatives, but also society as a whole’’ she explained. It is a task, they felt, needed a structured way of implementing rather than being carried out in an adhoc manner.</p>
          </div>
          <br>
        </div>
         <div class="row">
            
        </div>
        
      </div>
      <div class="col-md-3 aside " >
          <a href="#">Fourways Junction Estate — Phase 2 Sept. – Oct. 2014 Construction Progress Report November 11, 2014</a>
            <hr>
          <a href="#">Lynx @ Royal – Construction Progress Photo Update 1-July-2014 July 4, 2014</a>
          <hr>
          <a href="#">Terrace @ Lavington June 30, 2014</a>
          <hr>
          <a href="#"> Lynx @ Royal – Construction Progress – Photo Update – May 2014 May 27, 2014</a>
          <hr>
          <a href="#">Spring-Valley BP – Construction Progress – Photo Update – May 2014 May 20, 2014</a>
          <div class="aside_footer">
              <p>hello</p>
          </div>
      </div>
    </div>
    <hr>
  </div>
  
</template>
<script>
export default {};
</script>