<template>
  <div>
    <footer>
      <div class="container" id="footer">
          <div class="row justify-content-center">
          <div class="col-md-12  ">
            <div class="row">
          <div class="col-md-4 col-sm-6">
            <img src="/assets/surayafoundation-logo.png" height="130px" alt="">
          </div>
          <div class="col-md-4">
            <h4>CONTACT INFO:</h4>
            <div class="pt-2">
            <p> <i class="fa fa-envelope"><a class=" pl-2 email" href="#"> Email: info@surayafoundation.com</a></i></p>
            </div>
            <div class="pt-1">
            <p> <i class="fa fa-phone"><a class=" pl-3 email" href="#"> Phone: (+254) 712 219106, <br> <span class="pl5">(+254) 786 575947</span></a></i></p>
            </div>
            <div class="pt-0">
            <p> <i class="fa fa-map-marker "><a class=" pl-4 email" href="#"> Location: Spring Valley Business Park, Nairobi</a></i></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <h4>SOCIAL MEDIA:</h4>
            <div class="pt-2">
            <span>
             <a href=""><i class="fa fa-facebook-official"></i></a> 
            </span>
            <span>
              <a href=""><i class="fa fa-twitter pl-3"></i></a>
            </span>
            <span>
             <a href=""> <i class="fa fa-snapchat-ghost pl-3"></i></a>
            </span>
            <span>
              <a href=""><i class="fa fa-instagram pl-3"></i></a>
            </span>
            <span>
            <a href=""> <i class="fa fa-youtube-play pl-3"></i></a> 
            </span>
            <span>
              <a href=""><i class="fa fa-linkedin pl-3"></i></a>
            </span>
            
          </div>
          </div>
        </div>
        <hr>
        <div class="row ">
            <div class="col-md-12">
          <p
            class="pt-3 px-0 pb-2  text-center"
            id="footer-links"
          >© 2019 Suraya Foundation.| Nairobi | Kenya | All rights reserved.  </p>
        </div>
        </div>
      </div>
      </div>
      </div>
    </footer>
  </div>
</template>
<script>
export default {};
</script>
