<template>
  <div id="nav">
    <div class="container">
      <nav
        :class="`navbar navbar-expand-lg ${ $route.name == 'project-details'  ? 'dark' : 'light' }`"
      >
        <router-link class="navbar-brand" :to="{ name: 'home' }">
          <img src="/assets/surayafoundation-logo.png" height="120px" alt />
        </router-link>

        <a
          href="#"
          @click.prevent
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="fa fa-bars"></span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <router-link class="nav-item nav-link" :to="{ name: 'home' }">Home</router-link>
            <router-link class="nav-item nav-link" :to="{ name: 'about' }">About us</router-link>
            <router-link class="nav-item nav-link" :to="{ name: 'projects' }">Projects</router-link>
            <router-link class="nav-item nav-link" :to="{ name: 'contact' }">Contact</router-link>
          </div>
          <div id="buttons" class="navbar-nav ml-auto">
            <!-- <a class="nav-item nav-link" id="navbarNavAltMarkup" href="#">sign in</a> -->
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
export default {};
</script>