nav{
    background: transparent;

}

nav.light a {
    color: #fff;
}
nav.dark a {
    color: #404040;
}

.c-pt{
    
    border-bottom: 10px solid #ffca0a;
    line-height: .35em;
    display: inline-block;
    padding-left: .15em;
    padding-right: .15em;
    
}
.ct{
    padding-top: 100px;
}
.p-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 10px;
}
.p-btnn{
    height: 33px;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    
    
}
#navbar-button{
    height: 28px;
    padding-bottom: 3px;
    padding-top: 4px;
    font-size: 13px
    
}

.navbar{
    
    font-family: Proxima Nova,sans-serif;
    font-size: 13px;
    font-weight: 400;
   
}
body{
    font-family: Proxima Nova,sans-serif;
    
}
iframe{
    padding: 0%;
    border:none;
    
}
h5{
    font-size: 16px;

}
p{
    font-size: 16px;
}
h4{
    font-size:18px;
}

#with-radius{
    border-right:none ;
    border-radius: 3px 0px 0px 3px;
    
    outline:none;
    border-right: 1px solid rgb(194, 194, 194);
    height: 45px;
}
.container .some{
    padding-top: 70px;
}
.btn{
    font-size: 16px;
    font-weight: 500;

}
#blog .container{
    padding-top: 150px;
}
.navbar-nav{
    text-transform: uppercase;
    
    padding-left: 70px;

}
.navbar-nav .nav-link{
    padding-left: 7px;
}
#no-radius{
    border-top: 1px solid rgb(194, 194, 194);
    
    border-radius: 0px 0px 0px 0px;
    outline:none;
    border-right: 1px solid rgb(194, 194, 194);
    height: 45px;
}
#mail-btn{
    height: 45px;
    background-color: #9064bf;
    border-radius: 0px 3px 3px 0px;
}
h2{
    font-size: 25px;
    font-weight: 600;
}
h3{
    font-size: 18px;
    color: black;
}
ul{
    list-style-position: inside;
    list-style: none;
    padding-left: 0%;
}
.card-text{
    color: #8d8d8d;
    font-weight: 300;
    font-size: 15px;
}
.card-img-top{
    padding: 1.5em;
}
#nav{
    position: absolute;
    width: 100%;
    z-index: 999;
}
#banner-text{
    padding-top: 8em;
    padding-left: 2em;
    padding-right: 4em;

}
#mission-text{
    font-size: 30px;
    padding-right: 3 rem;
    padding-left: 3 rem;
    font-weight: 600;
    color: black;
}
#mission-bottom{
    padding-top: 60px;
}
#buttons{
    margin-right: 5%;
}
#banner{
    background-image: url('/assets/banner3.jpg');
    height: 475px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-banner{
    background-image: url('/assets/about-banner.jpg');
    background-size: cover;
    background-position: 50%;
    color: #fff;   
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    padding-top: 150px;
}
#about-card{
    height: 400px;
    margin: 40px auto;
    border: none;
    
    
}
#about-card .card-img-top{
    width: 180px;
    text-align: center;
}
#mission{
    background-image: url('/assets/woman.jpg');
    background-size: 100% auto;
    height: 1160px;
    background-repeat: no-repeat;
    
}
#mails{

    height: 600px;
    background: #ffca0a;
    padding: 40px 20px;
    position: relative;
    
    
}
.card-text .short {
    background-image: url('/assets/brush-short-2adf42f25e98de026603056f3164ae1f.png');
    
    background-position: 50%;
    background-size: cover;
}

.card-text .long {
    background-image: url('/assets/brush-long-50ce2079b8f3e04915a313ad7094ce4b.png');
    
    background-position: 50%;
    background-size: cover;
}
#card{
    
    max-width: 900px;
    margin: 40px auto;
    height: 344px;
    border-radius: 0px;
    border:none;
    color: white;
    
}
#colored1{
    height: 380px;
    border: none;
    background-color:#369ff4 ;
    color: white;
}
#colored2{
    height: 380px;
    border: none;
    background-color: #9064bf;
    color: white;
}
#colored3{
    height: 380px;
    border: none;
    background-color: #8ed4cc;
    color: white;
}
#colored4{
    height: 380px;
    border: none;
    background-color: #ee7e36;
    color: white;
}
#colored5{
    height: 380px;
    border: none;
    background-color: #ea535a;
    color: white;
}
#colored6{
    height: 380px;
    border: none;
    background-color: #f9ca33;
    color: white;

}
#large-card-text{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
#btm-text{
    font-size: 25px;
    color: black
}
#card-btn{
    border: 2px solid rgb(7, 7, 7);
}
#form{
    margin-left: 15%;
    
}
#many-cards{
    background-image: url('/assets/child.jpg');  
    background-position: 0 500px;
    height: 1600px;
    background-color: #fdfdfd;
    background-repeat: no-repeat;
}
#footer{
    height: 400px;
    background-color: white;
    padding-top: 50px;
}
#blog{
    height: 500px;
    background-position: 50%;
    background-size: cover;
    background-image: url('/assets/blog.jpg');
    background-repeat: no-repeat;
}
/* about page */
#col4about{
    height: 500px;
    margin-left: 12.5%;
    margin-right: 12.5%;

}
#secondlast{
    height: 450px;
}
#vl{   
        border-left: 1px solid rgb(228, 228, 228);
        height: 450px;  
}
#v{   
    border-left: 1px solid #d8d8d8;
    height: 119px;  
}
#last{
    height: 400px;
    background-image: url('/assets/last.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
#contain {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  #centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#firstprojectpart{

    height: 600px;
}
#progress{
    height: 500px;
}
#custom-card{
    border: 1px solid #d8d8d8;
    height:120px;
    width: 80%;
    border-radius: 3px;
    margin: 50px auto;
    background-color: #ececec

}

#work{
    height: 600px;
}
#stories{
    height: 500px;
}
.fa{
    color: gray;
    font-size: 1.5em;
}

#footer-links{
    font-size: 13px;
    color: #cccccc;
}
#pages{
    font-size:14px;
}

.text-muted{
    color: #cccccc;

}
