nav{
    background: transparent;
    a {
        font-size: 15px;
        
    }
    
    
    .navbar-nav {
        margin-left: 45%;
        a {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}
#nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.596) 60%, rgba(0, 0, 0, 0));
}
nav.light {
    
    a {
        color: #fff;

        .fa {
            color: #fff;
            font-size:20px;
            background: transparent; 
        }
    }
#nav{
    border-bottom: 1px solid rgb(216, 216, 216);
    
} 
    .navbar-collapse {
        @media (max-width:992px){
            background: #ffffff;
            padding-top:30px;
            padding-bottom:30px;
            border-radius: 4px;

            .navbar-nav {
                padding: 0 20px;
                
                a{
                    margin: 0 0 7px 0;
                    
                }
            }
        }
    }
}
nav.dark { 
    // border-bottom: 1px solid rgb(233, 233, 233);
    a {
        color: #74684f;
        
        .fa {
            color: #404040;
            font-size:20px;
            background: transparent;

    }
    
}
}
.navbar-collapse {
    @media (max-width:992px){
        background: #ffffff;
        padding-top:30px;
        padding-bottom:30px;
        border-radius: 4px;
        
        .navbar-nav {
            padding: 0 20px;
            
            a{
                margin: 0 0 7px 0;
                color:rgb(117, 88, 23)
            }
        }
    }
}
.email{
    font-size: 13px;
    font-family: "Open Sans","Helvetica","sans-serif","Arial";
}
.c-pt{
    
    border-bottom: 10px solid #ffca0a;
    line-height: .35em;
    display: inline-block;
    padding-left: .15em;
    padding-right: .15em;
    text-align: center;
    
}
.ct{
    padding-top: 150px;
}
.p-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 10px;
}
.p-btnn{
    height: 33px;
    border: 2px solid rgb(255, 255, 255);
    text-align: justify;
    color: #fff;
    
    
}
#navbar-button{
    height: 28px;
    padding-bottom: 3px;
    padding-top: 4px;
    font-size: 13px
    
}

.navbar{
    
    font-family: Proxima Nova,sans-serif;
    font-size: 13px;
    font-weight: 500;
   
}
body{
    font-family: "Open Sans","Helvetica","sans-serif","Arial";
    color: #404040;
}
iframe{
    padding: 0%;
    border:none;
    border-radius: 10px;
    
}
h5{
    font-size: 16px;

}
p{
    font-size: 16px;
}
h4{
    font-size:18px;
}

#with-radius{
    border-right:none ;
    border-radius: 3px 0px 0px 3px;
    
    outline:none;
    border-right: 1px solid rgb(194, 194, 194);
    height: 45px;
}
.container .some{
    padding-top: 70px;
}
.btn{
    font-size: 16px;
    font-weight: 500;

}
#blog .container{
    padding-top: 150px;

}
.navbar-nav{
    text-transform: uppercase;
    
    

}

#no-radius{
    border-top: 1px solid rgb(194, 194, 194);
    
    border-radius: 0px 0px 0px 0px;
    outline:none;
    border-right: 1px solid rgb(194, 194, 194);
    height: 45px;
}
#mail-btn{
    height: 45px;
    background-color: #9064bf;
    border-radius: 0px 3px 3px 0px;
}
h2{
    font-size: 29px;
    font-weight: 600;
    
}
h3{
    font-size: 18px;
    color: #404040;
}
ul{
    list-style-position: inside;
    list-style: none;
    padding-left: 0%;
}
.card-text{
    color: #8d8d8d;
    font-weight: 300;
    font-size: 15px;
}
.card-img-top{
    padding: 1.5em;
}
#nav{
    position: absolute;
    width: 100%;
    z-index: 999;
}
#banner-text{
    padding-top: 13em;
    padding-left: 2em;
    padding-right: 4em;

}
#mission-text{
    font-size: 30px;
    padding-right: 3 rem;
    padding-left: 3 rem;
    font-weight: 600;
    color: #404040;
}
#mission-bottom{
    padding-top: 35px;
    padding-bottom: 20px
}
#buttons{
    margin-right: 5%;
}
#banner{
    background: linear-gradient(to right, rgb(0, 0, 0) 45%, rgba(0, 0, 0, 0)), url('/assets/mine.jpg');
    height: 530px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
     
}

#about-banner{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.616) 40%, rgba(0, 0, 0, 0)), url('/assets/bricks-brickwall.jpg');  
    background-size: cover;
    background-position: 50%;
    color: #fff;   
    width: 100%; 
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 90px;
    .end-p{
       padding-bottom: 140px;
       padding-top: 20px;
    }
}
#contact-banner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.596) 40%, rgba(0, 0, 0, 0)), url('/assets/bricks-brickwall.jpg'); 
    background-size: cover;
    background-position: 50%;
    color: #fff;   
    width: 100%;  
    background-repeat: no-repeat;
    padding-bottom: 140px;
    margin-bottom: 60px;
    h2 {
        font-size: 40px;
    }
}
#about-card{
    
    margin: 40px auto;
    border: none;
    
    
}
#about-card .card-img-top{
    width: 180px;
    text-align: center;
}
#mission{
    // background-image: url('/assets/colorful-colourful-houses-2501965.jpg');
    // background-size: cover;
    // background-position: 70% 0 0 0 ;
    // height: 1160px;
    // background-repeat: no-repeat;
    
    background-image: url('/assets/bricks-brickwall.jpg');
    @media (max-width:992px){
        
    }
}
#mails{

    background: #9c833db9;
    // background: #c7dfe2;
    
    
    color: white;
    .container{
        padding: 50px 0 50px 0;
        
    }
    iframe{
    height: 100%;
    width: 98%;
    min-height:300px ;
    }
    
}
.card-text .short {
    background-image: url('/assets/brush-short-2adf42f25e98de026603056f3164ae1f.png');
    
    background-position: 50%;
    background-size: cover;
}

.card-text .long {
    background-image: url('/assets/brush-long-50ce2079b8f3e04915a313ad7094ce4b.png');
    
    background-position: 50%;
    background-size: cover;
}
.pl5 {
    padding-left: 40px;
}
.bgn {
    background-color: #947c34;
}
#colored1{
    height: 350px;
    border: none;
    background-color:#369ff4 ;
    color: white;
}
#colored2{
    height: 350px;
    border: none;
    background-color: #9064bf;
    color: white;
}
#colored3{
    height: 350px;
    border: none;
    background-color: #8ed4cc;
    color: white;
}
#colored4{
    height: 340px;
    border: none;
    // background-color: #ee7e36;
    background-color: #ad5116;
    color: white;
}
#colored5{
    height: 340px;
    border: none;
    // background-color: #ea535a;
    background-color: #a24145;
    color: white;
}
#colored6{
    height: 340px;
    border: none;
    // background-color: #33f9ef;
    background-color: #42afa9;
    color: white;

}

#large-card-text{
    font-size: 30px;
    font-weight: 600;
    color: #404040;
}
#btm-text{
    font-size: 25px;
    color: #404040;
}
#card-btn{
    border: 2px solid rgb(7, 7, 7);
}
#form{
    margin-left: 15%;
    
}
#many-cards{
    background: linear-gradient(to bottom, rgba(233, 233, 233, 0.76) 30%, rgba(0, 0, 0, 0)), url('/assets/art.jpg');
     
    background-size: cover;
    background-repeat: no-repeat;
    padding:  0 0 280px 0;
    width:100%;
    background-position: 50% top;
    .card{
        padding: 0;
        
    }
    img{
        max-height: 200px;
    }
}
#one{
    
    margin-top: 15px;
    margin-bottom: 20px;
    
    border:1px solid rgb(226, 226, 226);
    border-radius: 4px;
    background-color: white;
    
     
    img{
        height: 180px;
        padding-top: 20px;
        padding-bottom: 30px
    }
    &:hover {
        margin-top: -20px;
        margin-bottom: -25px;
        animation-name: side-cards;
        animation-duration: .5s;
        animation-timing-function: ease;
        img{
            height: 230px;
            padding-top: 30px;
            padding-bottom: 40px;
            animation-name: card-img;
            animation-duration: .5s;
            animation-timing-function: ease;
        }
    }
}
@keyframes side-cards {
    from {
        margin-top: 15px;
        margin-bottom: 20px ;
    }
    to {
        margin-top: -20px;
        margin-bottom: -25px ;
    }
}
@keyframes card-img {
    from {
        height: 180px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    to {
        height: 230px;
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
#two{
    height: 430px;
    border:1px solid rgb(226, 226, 226);
    border-radius: 4px;
    background-color: white;
    padding: 0 10px 0 10px;
    img{
        height: 180px;
        padding-top: 20px;
        padding-bottom: 30px
    }
    &:hover {
        img{
            height: 230px;
            padding-top: 30px;
            padding-bottom: 40px;
            animation-name: card-img;
            animation-duration: .5s;
            animation-timing-function: ease;
        }
    }
}
#three{
    margin-top: 15px;
    margin-bottom: 20px;
    
    border:1px solid rgb(226, 226, 226);
    border-radius: 4px;
    background-color: white;
    
     
    img{
        height: 180px;
        padding-top: 20px;
        padding-bottom: 30px
    }
    &:hover {
        margin-top: -20px;
        margin-bottom: -25px;
        animation-name: side-cards;
        animation-duration: .5s;
        animation-timing-function: ease;
        img{
            height: 230px;
            padding-top: 30px;
            padding-bottom: 40px;
            animation-name: card-img;
            animation-duration: .5s;
            animation-timing-function: ease;
        }
    }
}
.text{
    padding-left:40%;
    font-size: 38px;
    text-transform: uppercase;
}
footer{
    background-color: #fcfcfc;
    a {
        color: #796f59;
        
        &:hover {
            color: #796f59;
        }
        .fa {
            color: #796f59;
            &:hover {
                color: #a57e1b;
            }
        }
    }
    h4 {
        font-size: 15px;
        text-decoration: underline;
        color: #55533c;
    }
    p {
        color: #796f59;
        .fa {
            color: #796f59;
        }
    }
    hr {
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    
}
.cs {
    padding-left: 40px !important;
    span { 
        float: left;
        width: 30px;
        height: 30px;
        padding-top: 15px;
       
    }
    .fa {
        font-size: 25px;
        
    }
    p {
        padding-left: 50px;
        padding-top: 11px;
        color: #404040;
        font-size: 17px;

        a {
            color: #404040; 
        }
    }
    h3 {
        font-weight: 400;
        color: #404040;
        text-decoration: underline;
    }
}
#footer{
    padding-top: 50px;
}
#blog{
    
    padding-bottom:100px;
    background-position: 50%;
    background-size: cover;
    background-image: url('/assets/bricks-brickwall.jpg');
    background-repeat: no-repeat;
}
.about-us{
    font-weight: 400;

}
/* about page */
#col4about{
    margin-left: 12.5%;
    margin-right: 12.5%;

}


#vl{   
        border-left: 1px solid rgb(228, 228, 228);
        height: 450px;  
}
#v{   
    border-left: 1px solid #d8d8d8;
    height: 119px;  
}
#last{
    height: 400px;
    background-image: url('/assets/about-bottom.jpg');
    background-repeat: no-repeat;
    background-position: 70% ;
    background-size: cover;
}
#contain {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  #centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#firstprojectpart{

    height: 600px;
}
#progress{
    height: 500px;
}
#custom-card{
    border: 1px solid #d8d8d8;
    height:120px;
    width: 80%;
    border-radius: 3px;
    margin: 50px auto;
    background-color: #ececec

}

#work{
    height: 600px;
}
#stories{
    height: 500px;
}
.fa{
    color: gray;
    font-size: 1.5em;
}

#footer-links{
    font-size: 13px;
    
}
#pages{
    font-size:14px;
}

.text-muted{
    color: #cccccc;

}
#details{
    padding-top: 100px;

    img {
        margin-bottom: 20px;
    }
    
    .p-title{
        text-transform: capitalize;
    }

    .aside{
        background-color: #f5f5f5;
        margin-top: 40px;
        padding: 20px;
        position: sticky;
        top: 40px;
        border-radius: 3px;
        
        a{
            font-size: 13px;
            font-family: "Open Sans","Helvetica","sans-serif","Arial";
        }

        .aside_footer{
            position: absolute;
            bottom: 30px;
            width: 100%;   
        }
    }
    
}
#projo{
    padding-top: 50px;
     
    img{
        max-height: 230px;
        border-radius: 3px;
    }
}
.pro-banner{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.836) 10%, rgba(0, 0, 0, 0)), url('/assets/pro-banner.jpg');
    padding-bottom: 70px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-title{
    padding-top: 160px;
    color: white;
}