<template>
  <div id="app">
    <header-app/>
    <router-view/>
    <footer-app />
  </div>
</template>
<script>
import HeaderApp from '@/components/header.vue'
import FooterApp from '@/components/footer.vue'

export default {
  components: {
    HeaderApp, FooterApp
  },
}
</script>


